/********************** АДАПТАЦИЯ **********************/

@media (min-width: 1920px) {
  .container {
    max-width: 1200px !important;
  }
}

@media all and (max-width:1360px) {
  .main {
    margin-top: 40px;
  }

/*   .contact_container {
  padding: 70px !important;
} */

}

@media all and (min-width: 992px) and (max-width: 1199px) {
/*   .about p {
  height: 250px;
} */

  .steps .line_container {
    width: 90%
  }

  .steps .line_container img {
    width: 75%;
    margin: 135px 40px 180px 0px;
  }

  .steps .line_container img + img + img {
    margin: 200px 40px 150px 0px;
  }

  .steps .line_container img + img + img + img {
    visibility: visible;
    margin: 160px 40px 200px 20px;
    width: 100%;
    height: 100%:
  }

 /*  .contacts .map_container,
 .contacts .contact_container {
    height: 720px; 
 } */

  .about_company .wrapper_container_about {
    justify-content: center;
  }
  form.form_contact input[type="text"] {
    width: 100%;
  }
}

@media all and (max-width: 1199px) {

.steps .steps_item:nth-child(4n+1) {
  display: block;
}

.steps .steps_item:nth-child(4n+1) .steps_icon_container {
  margin: 0 auto 30px;
}
.steps .steps_item:nth-child(4n) {
  display: block;
}

.steps .steps_item:nth-child(4n) .steps_icon_container {
  margin: 0 auto 30px;
}
.steps .line_container  {
  display: none;
}
  .container_card {
     max-width: 100% !important;
   }

   .slider-btn {
     opacity: .5;
     bottom: 0;
     top: auto;
     border-radius: 0;
     height: 60px;
    
   }

   .slider-btn_next {
     right: 0;
     margin-right: 0;
   }

   .slider-btn_prev {
     left: 0;
     margin-left: 0;
   }
   .slider-btn_prev span {
    left: 24px;
    right: auto;
   }
  .slider-btn_next span {
   left: auto;
   right: 24px;
  }
   .carousel  {
     padding-bottom: 73px;
   }
   .slider_expertise, .slider_price {
     height: auto;
     
   }

   .slider_expertise .color_block, .slider_price .color_block {
     height: 80%;
   }
    .slider_expertise .slider-single, .slider_price .slider-single {
     height: auto;
   }

   .slider_expertise .slider-single::after, .slider_price .slider-single::after {
    bottom: 150px;
    right: 50px;
   }

   .tags_panel_news ul.tags {
      justify-content: flex-start;
   }
    
    .tags_panel_news ul.tags li {
      margin: 10px;
    }
    .tags_panel_news {
      padding: 20px 10px;
    }
    .slider_price .slider-single .slider_single_container {
      clip-path: none;
    }
    .slider_price .slider-single::after {
      top: 0;
      right: 0 !important;
      height: 60px;
      width: 60px;
      line-height: 60px;
    }

}



@media all and (max-width: 991px) {
  section.block_news .container {}

 
  .services .card {
    width: 50%;
  }

  .questions .question_item .question_title {
    font-size: 15px;
  }

  .questions .question_item .question_text {
    font-size: 14px;
 /*    line-height: 15px; */
  }

  .footer_info_container {
    width: 100% !important;
    /* height: 300px; */
 /*    padding: 10px 10%; */
  }

  .footer_menu_container {
    width: 42% !important;
  }

  .subscribe_container {
    width: 58% !important;
  }

  .footer_container {
    width: 100% !important;
/*     padding-right: 30px !important;
padding-left: 30px !important; */
    max-width: 100% !important;
  }

  .footer_container .logo_footer_container,
  .footer_container .footer_about {
    display: inline-block;
  }

  .footer_container .footer_about {
   /*  width: 70%; */
    height: 100%;
    /* padding-left: 10px; */
    margin-top: 10px;
  }

  .footer_container ul.info_contact {
    flex-direction: row;
  }
/* 
  footer .container-fluid {
    height: 740px;
  } */

  .footer_container ul.info_contact li,
  .contact_main ul.info_contact li {
   /*  width: 40%;
   text-align: center; */
  }

  .footer_container ul.info_contact li.address span {
    display: inline;
  }

  .steps .line_container img {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0:
  }

  .questions .btn_question_container {
    text-align: center;
    margin-top: 10px;
  }

  .menu_container_others .top_menu {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu_container_others .top_menu form.form_search {
    width: 82%
  }

  .about_company .wrapper_container_about {
    padding: 5% !important;
  }

  section.block_news .container {
    flex-direction: column-reverse;
  }

  .block_news .news_full_content,
  .panel_news {
    width: 100%;
  }

  section.block_news {
    margin-top: 30px;
  }

  .panel_news h4.title_block_panel,
  .panel_news .category_of_news ul.category_container li,
  .panel_news .archive_news ul.archive_container li,
  .last_news_item .item_content .title_item,
  .panel_news .last_news_container,
  .panel_news .tags_news_panel,
  .panel_news .tags_news_panel .tags_container li {
    margin-bottom: 10px;
  }

  .panel_news .category_of_news ul.category_container,
  .panel_news .archive_news ul.archive_container,
  .panel_news .category_of_news ul.category_container li,
  .panel_news .archive_news ul.archive_container li {
    flex-direction: row;
    justify-content: space-between;
  }

  .panel_news .category_of_news ul.category_container li:nth-child(2n),
  .panel_news .archive_news ul.archive_container li:nth-child(2n) {
    border: none;
  }

  .panel_news .category_of_news ul.category_container li.active_category::before,
  .panel_news .archive_news ul.archive_container li.active_archive::before {
    content: none;
  }

  .panel_news .tags_news_panel .tags_container {
    justify-content: space-between;
    margin-top: 10px;
  }

  .news_full_content .image_container_news {
    padding: 0;
  }

  .news_full_content .image_container_news img {
    max-width: 49%;
    display: inline-block;
  }

  .questions .btn_question_container {
    text-align: left;
  }
  .questions .question_item .question_text {
  padding-right: 40px;
  }

  .menu_container_others .top_menu .form_search input[type="search"] {
      width: 100%;
      z-index: 1;
      color: #ffba5f;
      border-bottom: 1px solid #ffba5f;
  }
  .contacts .contact_container_other form.form_contact-row {
    max-width: 508px;
    width: 100%;
  }
  .contacts .contact_container_other form.form_contact-row input[type="text"] {
    width: 100%;
  }
  .container_menu_field .black_block {
    border-top-width: 75px;
  }
  .price_item .title_item_price {
    font-size: 18px;
    padding-right: 50px;
  }

}

@media all and (min-width: 768px) and (max-width: 991px) {
 /*  .about p {
   height: 280px;
 } */

  .steps .flex_container {
    justify-content: space-around;
  }

  .main h1 {
    font-size: 54px;
  }

  .main h6 {
    font-size: 20px;
  }

  .menu .menu_list li {
    margin-right: 18px;
  }

  .menu .dropdown__menu {
    width: 310px;
    background-color: rgb(34, 34, 34, 0.5);
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
 /*  .about p {
   height: 400px;
 } */

  .questions .question_item {
    padding: 0 20px 0 80px;
  }

  .questions .question_item .question_title {
    line-height: 20px;
   /*  width: 60%; */
  }

  footer .container-fluid {
  /*   height: 930px; */
  }

  .footer_info_container {
    padding: 10px 10px;
  }

  .footer_menu_container {
    width: 100% !important;
    /* height: 150px; */
  }

  .footer_menu_container ul.footer_menu li {
    line-height: 30px;
  }

  .footer_bottom_info .container {
    width: 100% !important;
    max-width: 100% !important;
    /* padding: 0 30px !important; */
  }
}

.price_item .text_item_price {
  font-size: 14px;
}
.carousel-cell {
  padding: 0;
}

@media all and (max-width: 767px) {



  .slider_expertise .slick-current .slider-single .slider_single_container, .slider_price .slick-current .slider-single .slider_single_container,
  .slider_expertise  .slider-single .slider_single_container, .slider_price .slider-single .slider_single_container {
    height: 251px;
    clip-path: none;
    padding: 20px;
  }
  .slider_price .slick-current .slider-single .slider_single_container  {
    height: auto;
  }

.slider_expertise .slider-single, .slider_price .slider-single {
  padding-top: 0;
}
  .slider_expertise .slider-single::after, .slider_price .slider-single::after {
    top: 0;
    right: 15px;
    height:  60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;
    
  }
  

  .slider_expertise .slider-single .text_after_item {
    font-size: 14px;
  }
 
.slider_expertise .slider-single .slider_single_container .title_item {
  font-size: 18px;
}

.slider_expertise .slider-single .slider_single_container .text_item {
  font-size: 14px;
  width: 100%;

}

.slider_expertise .slider-single .text_after_item {
  padding: 20px 0;
}









  .menu_container_others .top_menu_container {
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .menu_container_others .top_menu .form_search input[type="search"] {
    padding-right: 18px;
  }

  .menu_container_others .top_menu_container li a {
    margin-right: 0;
  }

  .menu_container_others .top_menu {
    /* flex-wrap: nowrap; */
    justify-content: space-around;
  }

  .menu_container_others .top_menu form.form_search {
    width: 150px;
    margin-right: 0;
  }

  .steps .flex_container {
    justify-content: space-around;
  }

  h3.title_footer {
    /* text-align: center; */
    width: 100%;
  }

  .footer_menu_container ul.footer_menu {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
  }

  .subscribe_container {
    width: 100% !important;
  }

  header .main_header {
    background-position: left;
  }

  .menu, .bottom_menu .menu_list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    align-items: flex-start;
  }
  .menu nav{
    margin-top: 95px;
  }

  .menu_list li {
    width: 100%!important;
  }

  .menu_list li a {
    display: block;
    padding: 10px!important;
  }

  label[for="menu-checkbox"] {
    text-align: center;
    display: block!important;
    cursor: pointer;
    background-color: #ffba5f;
    width: 30px;
    height: 6px;
    border-radius: 8px;
    position: relative;
    margin-right: 40px;
  }
  .bottom_menu nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .bottom_menu label[for="menu-checkbox"] {
    margin-right: 0px;
    margin-top: 10px;
  }
  .bottom_menu {
    height: 240px;
    width: 60%;
    margin-top: 10px;
    position: absolute;
    z-index: 99;
    right: 0;
    left: auto;
    margin: 10px 15px 0 !important;
  }
  .menu_container_others .bottom_menu .menu_list li {
    line-height: 20px;
    margin-right: 5px;
  }
  
  .menu_container_others .bottom_menu .menu_list li a {
    color: #fff;
    text-align: left;
    width: auto;
  }
  label[for="menu-checkbox"]::before {
    content: '';
    width: 30px;
    height: 6px;
    position: absolute;
    background-color: #ffba5f;
    border-radius: 8px;
    top: -10px;
    display: block!important;
  }

  label[for="menu-checkbox"]::after {
    content: '';
    width: 30px;
    height: 6px;
    position: absolute;
    background-color: #ffba5f;
    border-radius: 8px;
    top: 10px;
    display: block;
  }

  .dropdown__menu {
    flex-direction: column;
    background-color: rgb(34, 34, 34, 0.9);
    right: 150px!important;
    top: 60px!important;
    width: auto!important;
  }

  .dropdown__menu li a {
    line-height: 20px!important;
  }

  #menu-checkbox:checked + nav[role="navigation"] .menu_list {
    display: block!important;
    width: 100%;
    /* margin-right: -15px; */
  }

  .menu_list li:first-child::after,
  .menu_list li:active::after,
  .menu_list li:focus::after,
  .menu_list li:hover::after {
    content: none!important;
  }

  .menu_list {
    display: none!important;
    background-color: rgba(34, 34, 34, 0.9);
    width: 150px;
    z-index: 100;
    flex-direction: column;
    position: absolute;
    right: 0px;
  }
  
  .bottom_menu .menu_list {
    display: none!important;
    background-color: rgb(34, 34, 34, 0.9);
    z-index: 10!important;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 30px;
  }

  .main {
    padding-left: 10% !important;
  }
  
  .menu_container_others .bottom_menu nav {
    height: 100%;
  }
  
  .menu_container_others .bottom_menu .menu_list {
    height: auto;
  }


  .main .request_btn {
    margin-top: 60px;
  }

  header .header_title_container h3.title_header_others {
    margin-top: -10px;
  }

  section.about,
  section.expertise,
  .news .bg_news,
  section.steps,
  section.partners,
  .questions .bg_questions,
  .bg_about_company,
  section.privacy_policy,
  section.service_default,
  section.details,
  section.examinations,
  section.category {
   /*  padding: 10% 10% !important; */
  }

  .news .btn_news_container {
    text-align: right;
    width: 100%;
  }

  .service_default .img_container {
    width: 100%;
  }

  .service_default .img_container img {
    width: 100%;
  }

  section.service_default {
    margin-top: 0;
  }

  .service_default article.columns_object {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .news_full_content .image_container_news {
    flex-direction: column;
    padding: 4% 0;
  }

  .news_full_content .image_container_news img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
  }

  .news_full_content .column_object_news {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 0;
  }

  .questions .questions_item_container {
    padding-left: 0;
  }

  .questions .question_item::before {
    position: static;
    margin-left: 0;
  }
  .questions .question_item {
    padding: 20px;
  }

  .questions .question_item .question_text {
    padding: 0;
  }

  footer .footer_container {
    padding-bottom: 40px;
  }
  footer .flex_container_footer .pifagor {
    width: 100%;
  }
  footer .flex_container_footer {
    text-align: center;
  }
  footer .flex_container_footer {
    justify-content: center;
  }
  .contact_container {
    padding: 30px;
  }
  form.form_contact .contact_btn_container {
    width: 246px;
  }

  .container_menu_field .black_block {
    border-top-width: 107px;
  }
  .contact_main .info_pifagor .triangle_block {
    display: none;
  }
  .contact_main .map_bg_container .info_container_others {
    clip-path: none;
  }
  .contact_main .info_pifagor .text_info_others {
        padding: 15px 20px 5px;
        width: auto;
  }

  .contact_main .map_bg_container {
    height: auto;
  }
   .news_full_content .news_info_panel span {
    margin-right: 10px;
    display: inline-block;
  }
  .comments {
    padding: 20px 0 0;
  }
  .comment {
    flex-wrap: wrap;
    padding: 15px;
    background-color: #f4f7fc;
  }
  .comment .avatar {
    margin-bottom: 10px;
  }
  .comment .comment_content {
    width: 100%;
    padding: 0;
  }
  .send_comment .input_container input {
    width: 240px;
  }
  .send_comment .input_container {
    flex-wrap: wrap;
  }
  .price_item .price_container {
    flex-wrap: wrap;
  }
  .price_item .price_container .price_container_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .menu .dropdown__menu {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  .menu_container_others .bottom_menu .dropdown__menu {
    margin-top: 0;
  }
}

@media all and (max-width: 576px) {
section.privacy_policy ul li.main_description {
  font-size: 14px;
}

section.privacy_policy ul li {
  font-size: 14px;
}
  .menu_container_others .logo  {
    width: 110px;
  }
  section.news .news_main_btn {
    float: none;
  }

  .services .card {
    width: 100%;
  }

  .main h1 {
    font-size: 50px; 
  }

  .service_default article.columns_object {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }


  .news_full_content .info_container span.count_of_comment {
    margin: 0;
  }

  .news_full_content .send_comment,
  .panel_news {
    padding: 4%;
  }

  .news_full_content .info_container::after {
    top: 77px;
  }

  section.about,
  section.expertise,
  section.news,
  section.steps,
  section.questions,
  section.partners,
  section.details,
  section.about_company {
    margin-bottom: 20px;
  }

/*   .about p {
  height: 470px !important;
} */

/*   .news_carousel {
  margin-left: 10% !important;
} */
  .news_carousel .item .info_container span {
    font-size: 12px;
  }
  .news_carousel .item {
    height: auto;
  }
  .news_carousel .lslide {
    margin-right: 230px !important;
  }

  .contact_container {
    padding: 30px !important;
  }

  .footer_menu_container li.dropdown_footer ul.dropdown_menu_footer {
    background-color: rgb(34, 34, 34, 0.8);
    height: 135px;
  }

  footer .flex_container_footer {
    padding: 0 10px;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .pifagor a {
    font-size: 12px;
    line-height: 10px;
  }

  footer .container-fluid {
  /*   height: 930px; */
  }
  form.form_contact input[type="text"] {
    width: 100%;
  }

  .form_contact {
    width: auto;
  }

  .service_default p.quote, .quote_container p.quote {
    padding: 110px 20px 30px;
    font-size: 16px;
  }
  header .other_header {
    height: auto;
  }
}

@media all and (max-width: 479px) {

  .about .flex_item_about h2 {
    font-size: 25px;
  }

.about .flex_item_about span {
  font-size: 10px;
  line-height: normal;
}

  .main h1 {
    font-size: 35px; 
  }

  .main h6 {
    font-size: 18px;
  }

  .menu_container_others .top_menu form.form_search {
   /*  width: 20%; */
    margin-right: 0;
  }

  .about_company .img_container_about {
    width: 100%;
  }

  .main {
    padding: 0 20px !important;
  }

  .logo_footer_container {
    width: 100% !important;
    text-align: center;
  }

  .footer_info_container {
    padding: 0;
  }

  .footer_info_container ul.info_contact li {
   /*  width: 50%; */
  }

  .footer_info_container ul.info_contact li.address span {
    display: inline;
    margin-left: 0;
  }

  .footer_info_container .footer_about {
    width: 100% !important;
  }

 /*  .footer_container {
   padding: 10px !important;
 } */

  .footer_menu_container {
    width: 100% !important;
  }

  .subscribe_container {
    width: 100% !important;
    /* height: 300px; */
  }

  footer .container-fluid {
    /* height: 900px; */
  }

  .contact_container {
    padding: 15px !important;
  }

  /* .questions .question_item {
    padding: 0 60px 0 50px;
  } */

  .questions .question_item .question_title {
    width: 100%;
    margin-top: 20px;
     height: auto;
  }

  /* .questions .question_item .question_text {
    height: 40vh;
  } */

  .steps .flex_container {
    /* justify-content: flex-end; */
  }

  .news .bg_news {
    padding: 0 !important;
  }

/*   .title_head {
  padding: 10% 10% 0 10% !important;
} */

/*   .about p {
  height: 600px !important;
} */

  .flex_container_about {
    justify-content: space-around;
  }

  .flex_item_about {
    margin-bottom: 20px;
  }

  .about_company .wrapper_container_about {
    padding: 0 !important;
    margin-left: -5%;
  }

  .about_company .img_container_about .container_img_2 {
    left: 20px;
  }
  .menu_container_others .top_menu {
    justify-content: flex-start;
  }
  .menu_container_others .top_menu form.form_search {
    width: 100px;
    margin-left: 30px;
  }

  .menu_container_others .logo {
    width: 80px;
  }

  .category .category_container li a {
    font-size: 11px;
  }
   .category .category_container li a.active_category::after {
      top: 38px;
   }
   .panel_news .tags_news_panel .tags_container {
     justify-content: flex-start;
   }
   .panel_news .tags_news_panel .tags_container li{
    margin-right: 5px;
   }
   .panel_news .category_of_news ul.category_container li {
    margin-right: 10px;
   }
   .news_full_content .header_news h3 {
    font-size: 20px;
   }
   .navigate_news_container {
    padding: 0;
   }
   .navigate_news_container .link_navigate_container a {
    font-size: 12px;
   }
   .news_full_content .column_object_news {
    padding: 0 10px;
   }

   .service_default .title_list_service {
    font-size: 18px;
   }

   .service_default p.service_text {
    font-size: 14px;

   }
  .service_default article.columns_object ul.objects li, .news_full_content article.column_object_news ul.list_object_news li {
    font-size: 14px;
  }
  .progress .sertificate_slider {
    width: 100%;

  }

  .progress .sertificate_slider .slick-current .sertificate_item {
    height: 480px;
  }

  .about_company .img_container_about img {
    max-width: 100%;
  }
  #menu-checkbox:checked + nav[role="navigation"] .menu_list {
    margin-right: -15px;
  }
  .bottom_menu {
    width: 80%;
  }

}

.contacts .container-fluid {
  padding: 0;
}

.contacts .row {
  margin: 0;
}

