body {
  margin: 0;
  font: 14px arial, sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  font-family: Constantia, serif;
  width: 31.41666666666667%;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: #4b5166;
}

.header-right {
  width: 68.58333333333333%;
}

.border-top {
  background: #344f81;
  height: 9px;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.info {
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #848484;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #6e7279;
  border-bottom: 1px solid #000;
  min-height: 59px;
}

.adress {
  width: 74.11907654921021%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 7.290400972053463% 0 4.860267314702309%;
}

.phone {
  width: 25.880923450789795%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.phone::after {
  display: block;
  content: "";
  clear: both;
}

.phone a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.phone a:last-child {
  margin-top: 10px;
}

.menu {
  font-family: Constantia, serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 50px;
}

.nav {
  width: 74.11907654921021%;
  padding: 0 60px 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #0d3761;
  font-size: 18px;
}

.nav a:hover {
  color: #ec944d;
  text-decoration: underline;
}

.social {
  width: 25.880923450789795%;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.social__wh {
  background: #8899c0 url(../img/whatsapp-logo.png) no-repeat 50% 45%;
}

.social__mail {
  background: #8899c0 url(../img/email.png) no-repeat 50% 45%;
}

.social__skype {
  background: #8899c0 url(../img/skype-logo.png) no-repeat 5.5px 5px;
}

.social a {
  width: 23px;
  height: 22px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: 12px 12px;
  background-size: 12px;
  display: inline-block;
}

.social a:hover {
  background-color: #536ba4;
}

.header-border {
  height: 106px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -106px;
  background: url(../img/top-border.png) no-repeat left top;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 9999;
}

.slider {
  visibility: hidden;
}

.slick-initialized {
  visibility: visible;
}

.slider-btn {
  background: transparent;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 50%;
  outline: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999;
  opacity: .5;
}

.slider-btn:hover {
  opacity: 1;
}

.slider-btn_next {
  left: 10px;
}

.slider-btn_prev {
  right: 10px;
}

.slide {
  position: relative;
  outline: none;
  min-height: 400px;
}

.slide__text {
  position: absolute;
  top: 50%;
  right: 50px;
  background: rgba(255, 255, 255, 0.6);
  width: 51.25%;
  min-height: 108px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  border: 1px solid #888;
  padding: 10px;
}

.services__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #5b76a2;
  text-align: center;
  margin: 0 0 50px 0;
  width: 100%;
}

.services-card {
  border: 1px solid #888;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
}

.services-card:hover {
  -webkit-box-shadow: 1.721px 2.457px 8.7px 1.3px rgba(73, 73, 73, 0.71);
  box-shadow: 1.721px 2.457px 8.7px 1.3px rgba(73, 73, 73, 0.71);
}

.services-card:hover .services-card__text {
  background: #d6d6d6;
}

.services-card__img {
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services-card__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: #3b3c3d;
}

.services-card__text {
  margin-top: auto;
  display: block;
  color: #3b3c3d;
  text-transform: uppercase;
  font-size: 11px;
  padding: 17px 0;
  background: #ffcc33;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.services-top-border {
  background: url(../img/bottom-border.png) no-repeat right top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  top: -90px;
  z-index: 9999;
}

.img-border-container {
  padding: 40px  40px 25px;
  position: relative;
}

.row-services {
  padding: 60px 83px 80px;
  -webkit-box-shadow: 2px 10px 21px 0px rgba(34, 37, 33, 0.29);
  box-shadow: 2px 10px 21px 0px rgba(34, 37, 33, 0.29);
}

.services-left-border {
  background: url(../img/left-border.jpg) repeat-y left top;
  -webkit-background-size: cover;
  background-size: cover;
  width: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.services-right-border {
  background: url(../img/right-border.jpg) repeat-y right top;
  -webkit-background-size: cover;
  background-size: cover;
  width: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.about-block {
  background: url(../img/about-bg.jpg) no-repeat left top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 70px 45px 174px;
  font-size: 18px;
}

.about-text {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #6f6f6f;
  padding: 77px 20px 100px;
  text-align: center;
}

.contacts .contact-form {
  padding: 65px 68px 42px;
  background: #555d6e;
  text-align: center;
  font-size: 18px;
  color: #616264;
  position: relative;
  width: 82.5%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 6.062px 3.5px 7.36px 0.64px rgba(45, 45, 45, 0.58);
  box-shadow: 6.062px 3.5px 7.36px 0.64px rgba(45, 45, 45, 0.58);
  top: -145px;
  margin-bottom: -145px;
}

.contacts .contact-form:before {
  content: "";
  border: 5px solid #979cae;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  left: 20px;
  top: 0;
  -webkit-box-shadow: 1px 0 5px  #979cae;
  box-shadow: 1px 0 5px  #979cae;
}

.contacts .contact-form__title {
  position: absolute;
  top: -40px;
  left: -20px;
  background: #fdca37;
  width: 30%;
  min-width: 200px;
  padding: 10px 0;
  font-weight: 300;
}

.contacts .contact-form__title:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: #f0a237  #f0a237 transparent transparent;
}

.contacts .contact-form__title:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -20px;
  top: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0a237  #f0a237;
}

.contacts .contact-form .input-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.contacts .contact-form .input-container input {
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
  color: #616264;
  font-size: 18px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.contacts .contact-form .textarea-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts .contact-form textarea {
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  resize: none;
  outline: none;
  min-height: 106px;
  padding: 38px 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  margin-top: 30px;
  color: #616264;
}

.contacts .contact-form button {
  background: #fdca37;
  border: none;
  font-size: 18px;
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 25%;
  min-width: 200px;
  height: 37px;
  outline: none;
  cursor: pointer;
  color: #616264;
}

.contacts .contact-form button:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  top: -10px;
  border-width: 5px 10px;
  border-style: solid;
  border-color: transparent transparent #f0a237  #f0a237;
}

.contacts .contact-form__clip {
  position: absolute;
  right: 0;
  top: -45px;
}

.map {
  margin-top: 10px;
  border-top: 1px solid #c9cfd4;
  border-bottom: 1px solid #c9cfd4;
}

.footer-content {
  background: url(../img/footer-bg.jpg) no-repeat left bottom;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 30px 50px 123px;
}

.footer-content::after {
  display: block;
  content: "";
  clear: both;
}

.footer-logo {
  float: left;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 15.45454545454545%;
  width: 50%;
}

.footer-nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fcfcff;
}

@media screen and (max-width: 1100px) {
  .logo {
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .header-right {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .services-card {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .contacts .contact-form .input-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contacts .contact-form .input-container input {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .contacts .contact-form .input-container input {
    font-size: 14px;
    margin: 10px 0;
  }

  .footer-logo {
    float: none;
    text-align: center;
  }

  .footer-nav {
    width: 100%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding: 0;
  }

  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .row-header {
    display: block;
  }

  .info {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .adress {
    width: 50%;
  }

  .adress span {
    margin: 5px 0;
  }

  .phone {
    width: 50%;
    text-align: right;
    padding: 0 7.290400972053463% 0 4.860267314702309%;
    margin: 5px 0 10px;
  }

  .menu {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
  }

  .nav {
    padding: 0;
    width: 100%;
  }

  .nav-list li {
    margin: 5px;
  }

  .social {
    width: 100%;
    margin-top: 10px;
    padding-left: 0;
    text-align: right;
  }

  .slider-btn {
    top: auto;
    bottom: 20px;
  }

  .slide__text {
    left: 0;
    right: 0;
    width: auto;
  }

  .services-card {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  .services-card {
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
  }

  .row-services {
    padding: 0;
  }

  .about-block {
    padding: 40px 10px 174px;
  }

  .about-text {
    font-size: 14px;
    padding: 20px 5px;
  }

  .contacts .contact-form {
    padding: 65px 10px 42px;
    width: 90%;
  }

  .contacts .contact-form .input-container {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .contacts .contact-form .input-container input {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  .contacts .contact-form .textarea-container {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .contacts .contact-form textarea {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  .contacts .contact-form textarea {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-nav li {
    margin: 5px 0;
  }
}

@media screen and (max-width: 560px) {
  .adress {
    width: 100%;
    font-weight: 300;
  }

  .phone {
    width: 100%;
    text-align: left;
  }

  .phone a {
    display: inline-block;
  }

  .phone a:last-child {
    margin: 0 0 0 10px;
  }
}